.content-home h2 {
  text-align: center;
}
div.reset {
  text-align: center;
}
div.reset button {
  background-color: red !important;
}
.ui-header {
  text-align: center;
}
.ui-btn-active {
  text-transform: uppercase;
}
.ui-content p {
  text-align: center;
  margin-top: 30px;
}
.ui-controlgroup-horizontal {
  margin-top: 50px;
  text-align: center;
}
