body
{
}

.content-home
{
  h2, p{text-align: center}
}

.contr-grupp
{
  position: absolute;
  bottom: 70px;
}

div.reset
{
  text-align: center;

  button{
    background-color: red !important;
  }
}

.num-of-word
{
  font-size: 16px;
  font-weight: 100;
}

.ui-controlgroup-horizontal
{
  margin-top: 0;
}
.ui-header
{
  text-align: center;
}

.ui-btn-active
{
  text-transform: uppercase;

}

//группа кнопок
.ui-content
{
  p{
    text-align: center;
    margin-top: 30px;
  }

}

.ui-controlgroup-horizontal
{
  margin-top: 50px;
  text-align: center;
}
