<!DOCTYPE  HTML>
<!--<html  manifest="manifest.appcache" ng-app="translateModule">-->
<html  ng-app="translateModule">
<head>
    <meta  charset="UTF-8">
    <title>My English</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link  rel="stylesheet"  href="js/jquery.mobile-1.4.5.min.css"  />
    <link  rel="stylesheet"  href="css/my.css"  />
    <script  src="js/jquery.min.js"></script>
    <script type="text/javascript">
        $(document).bind("mobileinit", function(){
            $.mobile.loadingMessage = false;
        });
    </script>
    <!-- Jquery.mobile.js -->
    <script  src="js/jquery.mobile-1.4.5.min.js"></script>
    <!-- Angular.js -->
    <script src="js/angular.js"></script>
</head>
<body>
<div  data-role="page"  id="home"  ng-controller="translateCtrl">
    <!--=======HEADER==========-->
    <div data-role="header">
        <h1>Главная</h1>
    </div><!--data-role="header"-->


    <!--=======CONTENT==============-->
    <div  data-role="content" class="content-home">

        <fieldset data-role="controlgroup" data-type="horizontal" id="show-mode">
            <label for="en_show">En</label>
            <input type="radio" name="fname" id="en_show"    ng-click="En($event)">
            <label for="en_ru_show">En-Ru</label>
            <input type="radio" name="fname" id="en_ru_show" ng-click="enRu($event)" checked>
            <label for="ru_show">Ru</label>
            <input type="radio" name="fname" id="ru_show"    ng-click="Ru($event)">
        </fieldset>

        <h2 id="en-text" ng-hide="!en.show"><span class="num-of-word" ng-hide="!step">№{{step}}</span>&nbsp;{{en.text}}</h2>
        <p ng-hide="!en.show">[{{tr.text}}]</p>
        <h2 ng-hide="!ru.show"><span class="num-of-word" ng-hide="en.show">№{{step}}</span>&nbsp;{{ru.text}}</h2>

        <div class="contr-grupp">
            <div data-role="controlgroup" data-type="horizontal">
                <button class="ui-btn-active" id="prev" ng-click="prevWord($event)">prev</button>
                <button data-icon="info" data-iconpos="right" class="ui-btn-active" id="hint" ng-click="Hint($event)">hint</button>
                <button class="ui-btn-active" id="next" ng-click="nextWord($event)">next</button>
            </div>

            <div class="reset">
                <button data-icon="back" class="ui-btn-active" data-inline="true" data-mini="true" id="reset" ng-click="Reset($event)">reset</button>
            </div>
            <!--<div class="reset">-->
                <!--<label for="num_for_del">№ Слова для удаления</label>-->
                <!--<input type="text"  id="num_for_del" ng-model="id_del">-->
                <!--<button data-icon="" class="ui-btn-active" data-inline="true" data-mini="true" id="delete" ng-click="Reset($event)">delete</button>-->
            <!--</div>-->
        </div>
    </div><!--data-role="content"-->

    <!---=========FOOTER===========================================-->
    <div  data-role="footer" data-position="fixed"  data-id="toolbar">
        <div data-role="navbar">
            <ul>
                <!-- Главная -->
                <li><a  href="#home"  data-icon="home"
                        data-transition="fade">Главная</a></li>
                <!-- Словарь -->
                <li><a  href="#diction"  data-icon="grid"
                        data-transition="fade">Словарь</a></li>
                <!-- Ввод слов -->
                <li><a  href="#add"  data-icon="info"
                        data-transition="fade">Добавить</a></li>
            </ul>
        </div>
    </div><!--data-role="footer"-->

</div><!--data-role="page"-->

<!--=======================СЛОВАРЬ=================================================-->
<div  data-role="page"  id="diction" ng-controller="searchCtrl">

    <div data-role="header">
        <h1>Словарь</h1>
    </div>

    <div data-role="content">
        <input type="text" id="search" ng-model="search" placeholder="search">
        <div ng-show="search" ng-repeat="word in Words | filter : search">
            <ul>
                <li>{{word.en}}</li>
                <li>[{{word.tr}}]</li>
                <li>{{word.ru}}</li>
            </ul>
            <hr>
        </div>
    </div>

    <div  data-role="footer"  data-position="fixed"  data-id="toolbar">
        <div data-role="navbar">
            <ul>
                <!-- Главная -->
                <li><a  href="#home"  data-icon="home"
                        data-transition="fade">Главная</a></li>
                <!-- Словарь -->
                <li><a  href="#diction"  data-icon="grid"
                        data-transition="fade">Словарь</a></li>
                <!-- Ввод слов -->
                <li><a  href="#add"  data-icon="info"
                        data-transition="fade">Добавить</a></li>
            </ul>
        </div>
    </div><!--data-role="footer"-->

</div>
<!--==============================================================================-->


<!--=================ДОБАВИТЬ НОВОЕ===============================================-->
<div  data-role="page"  id="add" ng-controller="newWordsCtrl">

    <div data-role="header">
        <h1>Добавить</h1>
    </div>

    <div data-role="content">

        <!--вывод сообщений-->
        <div class="error"></div>

        <div>
            <label for="en_add">English </label>
            <input type="text" name="en" id="en_add"    ng-model="en_new">
            <label for="tr_add">Transcription </label>
            <input type="text" name="fname" id="tr_add" ng-model="tr_new">
            <label for="ru_add">Russian</label>
            <input type="text" name="fname" id="ru_add"    ng-model="ru_new">
        </div>

        <div data-role="controlgroup" data-type="horizontal">
                <button class="ui-btn-active" data-inline="true" data-mini="true" id="add-new" ng-click="setNewWord($event)">add</button>
                <button class="ui-btn-active reset-new" data-inline="true" data-mini="true" id="clear-new" ng-click="resetNewWord($event)">reset</button>
        </div>

    </div><!--data-role="content"-->

    <div  data-role="footer"  data-position="fixed"  data-id="toolbar">
        <div data-role="navbar">
            <ul>
                <!-- Главная -->
                <li><a  href="#home"  data-icon="home"
                        data-transition="fade">Главная</a></li>
                <!-- Словарь -->
                <li><a  href="#diction"  data-icon="grid"
                        data-transition="fade">Словарь</a></li>
                <!-- Ввод слов -->
                <li><a  href="#add"  data-icon="info"
                        data-transition="fade">Добавить</a></li>
            </ul>
        </div>
    </div><!--data-role="footer"-->

</div>
<!--==============================================================================-->


<!--==============================================================================-->
<!--<div  data-role="page"  id="">-->

    <!--<div data-role="header"></div>-->

    <!--<div data-role="content"></div>-->

    <!--<div data-role="footer"  data-position="fixed"  data-id="toolbar"></div>-->

<!--</div>-->
<!--==============================================================================-->
<script src="js/app.js"></script>
<script  src="js/my.js"></script>

<script>
    //$('#en_ru_show').prop("checked",true);
</script>
</body>
</html>
